<div class="container mt-5">
    <div class="card p-2">
        <div class="row">
            <div class="col-6">
                <form>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Name</mat-label>
                        <input matInput placeholder="Product Name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Description</mat-label>
                        <input matInput placeholder="Product Description">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Product Price</mat-label>
                        <input matInput placeholder="Product Price">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Image url</mat-label>
                        <input matInput placeholder="Image url">
                    </mat-form-field>

                    <div allign="end">
                        <button mat-stroked-button color="primary" style="margin-right: 5px;">Clear</button>
                        <button mat-stroked-button color="primary">Add Product</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>